<nav class="navbar navbar-expand-md navbar-light navbar-color-override">

  <div class="container-fluid">

    <a class="navbar-brand">
      <img 
        src="../assets/images/logo_muftijstvo.svg" 
        alt="logo-muftijstva" 
        width="30" 
        height="30" 
      />
    </a>
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navItems"
      aria-controls="navItems" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navItems">
      
      <!-- Input search form start -->
      <div class="col-md-4 col">
        <div class="input-group m-1">

          <input 
            class="form-control" 
            type="search" 
            name="searchTerm" 
            aria-label="Search"
            placeholder="Naziv | br. parcele" 
            [(ngModel)]="searchQuery"
            (input)="updateMarkersVisibility(); handleSearchInput($event)" 
          />
          <span class="input-group-append">
            <span class="input-group-text" *ngIf="searchQuery.length === 0">
              <i 
                class="fas-sharp fa-solid fa-magnifying-glass-location fa-lg me-2" 
                style="color: #27a27a">
              </i>
            </span>
          </span>
          <ul class="list-group search-suggestions" *ngIf="showSearchSuggestions">
            <li 
              class="list-group-item" 
              style="color: #ccc;"
              *ngIf="searchSuggestions.length === 0">
              Nema vakufa za unijeti naziv | parcelu
            </li>
            <li 
              class="list-group-item hover-effect"
              tabindex="{{ searchSuggestions }}"
              *ngFor="let suggestion of searchSuggestions" 
              (click)="selectSearchSuggestion(suggestion)"
            >
              <span [innerHTML]="suggestion | highlightSearchTerm : searchQuery">
              </span>
            </li>
          </ul>
        </div>
      </div>
      <!-- Input search form end -->

      <!-- Select forms start -->
      <div class="col-md-6 col">
        <div class="navbar-nav">
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>

          <ng-select
            class="custom m-1"
            name="vakufType" 
            aria-label="Vakuf Type"
            placeholder="Izaberi tip vakufa"
            [(ngModel)]="selectedVakufType"
            (change)="filterMarkers(); onVakufTypeChange()"
          >
            <ng-option 
              class="hover-effect" 
              *ngFor="let vakufType of vakufObjectTypes$ | async"
              [value]="vakufType"
            >
              {{ vakufType }}
            </ng-option>
          </ng-select>

          <ng-select 
            #citySelect
            class="custom m-1"
            name="selectedCity"
            aria-label="City"
            placeholder="Izaberi grad"
            [(ngModel)]="selectedCity" 
            (change)="filterMarkers(); onCityChange()"
          >
            <ng-option 
              class="hover-effect" 
              *ngFor="let cityName of vakufCities$ | async"
              [value]="cityName"
            >
              {{ cityName }}
            </ng-option>
          </ng-select>

          <ng-select 
            #filteredVakufNamesSelect 
            class="custom m-1" 
            name="filteredVakufNames"
            aria-label="Vakuf name"
            placeholder="Izaberi vakuf"
            [(ngModel)]="filteredVakufNames"
            (change)="updateMarkersVisibility()"
          >
            <ng-option  
              class="hover-effect"
              *ngFor="let name of selectedMarkerNames"
              [value]="name"
            >
              {{ name | ellipsis : 25 }}
            </ng-option>
            
          </ng-select>
          
        </div>   
      </div>
      <!-- Select forms end -->
    </div>
  </div>
</nav>