<div class="container">

  <div class="row text-center">
    <div class="col">
      <h3 class="mb-5 mt-5">Muftijstvo sandžačko | mape vakufa</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-sm navbar-light navbar-override">
        <div class="container-fluid ">
          <a class="navbar-brand">
            <img src="../assets/images/logo_muftijstvo.svg" alt="" width="30" height="30">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
            <div class="navbar-nav">
              <input class="form-control m-1" type="search" placeholder="Pretraži Vakufe" aria-label="Search"
                name="searchWord" [(ngModel)]="searchWord" (ngModelChange)="searchMarkersFilter($event)" />
            </div>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="navbar-nav">
              <select class="form-select m-1">
                <option selected>Kategorija</option>
                <option>Džamije</option>
                <option>Livade</option>
                <option>Objekti</option>
              </select>
            </div>
            <div class="navbar-nav">
              <select class="form-select m-1">
                <option selected>Mjesto</option>
                <option value="NoviPazarDataFilter">Novi Pazar</option>
                <option value="SjenicaDataFilter">Sjenica</option>
                <option>Tutin</option>
                <option>Rožaje</option>
              </select>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div #mapContainer id="map-canvas"></div>
    </div>
  </div>

</div>
