<div class="container"><!-- main container -->

  <div class="row text-center d-none d-md-block"> <!--title -->
    <div class="col">
      <h3 class="mb-5 mt-5">Muftijstvo sandžačko | mapa vakufa</h3>
    </div> 
  </div> <!-- end title -->
  
  <div class="row mt-3"> <!-- row navbar -->
    <div class="col"> 

      <app-navbar 
        [vakufCities]="vakufCities" 
        [vakufObjectTypes]="vakufObjectTypes"
        [markers]="markers"> <!-- navbar starts -->
      </app-navbar> <!-- navbar ends -->

    </div>
  </div> <!-- end row navbar -->

  <div class="row">
    <div class="col">
      <div #mapContainer id="map-canvas"></div>
    </div>
  </div>

</div> <!-- end main cointainer -->

